body{
	margin: 0;
}
a{
	text-decoration: none;
	color: blue;
	border: none;
}
img{
	border: none;
}
input{
	font-size: medium;
	margin-top: 3px;
	margin-bottom: 3px;
}
input.small{
	font-size: small;
}
input[type='text'],input[type='password'],input[type='email'],input[type='number']{
	width: 200px;
}
input[type='submit'],input[type='button']{
	background: #1e82cc;
	color: white;
	border: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: sans-serif;
	font-weight: bold;
}
input.small[type='submit'],input.small[type='button']{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
input[type='submit']:disabled,input[type='button']:disabled{
	background: lightgray;
	color: #202020;
}
.clear{
	visibility: hidden;
	clear: both;
}