/*TODO Add Wrapper*/
#pageTopBar{
	background: #094AB2;
	color: white;
	height: 40px;
}
#pageTopBarLeft{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
#pageTopBarRight{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}
#pageTopBar  a{
	color: white;
}
#pageTopBar  a:hover{
	text-decoration: underline;
}
#sidePanel{
	background: whitesmoke;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#sidePanel.normal{
	width: 200px;
}
#sidePanel.hidden{
	width: 200px;
	margin-left: -180px;
}
#sidePanel.full{
	width: 200px;
	width: 100%;
}
#homepage{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 270px;
	margin-right: 270px;
}
#backToHomepage{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	
	transition: bottom .5s;
	-webkit-transition: bottom .5s;
	-moz-transition: bottom .5s;
	-o-transition: bottom .5s;
}
#backToHomepage:hover{
	bottom: 10px;
}
#toolbar{
	padding: 0;
	list-style: none;
	margin-top: 120px;
}
#toolbar > li > a{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: large;
	font-weight: bold;
	font-family: sans-serif;
	color: #202020;
}
#toolbar > li > a:hover{
	background: lightgray;
}
#toolbar > li > hr{
	width: 90%;
}
#mainArea{
	position: relative;
	height: 100%;
	overflow: hidden;
}
#mainArea.normal{
	margin-left: 200px;
}
#mainArea.full{
	margin-left: 20px;
}
#mainArea.hidden{
	margin-left: 100%;
}
#mainTopBar{
	height: 20px;
	border-bottom: lightgray solid 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#mainTopBarLeft{
	margin-left: 10px;
	display: inline-block;
}
#mainTopBarRight{
	float: right;
}
#mainTopBarRight img{
	width: 40px;
	margin-top: -10px;
}
#mainTopBarRight a.disabled img{
	opacity: .5;
}
#pageTitle{
	font-size: large;
	font-weight: bold;
	color: #404040;
	font-family: sans-serif;
}
#copyPageURL{
	color: gray;
	font-size: small;
}
#main{
	overflow: auto;
	width: 100%;
}
#mainBottomBar{
	position: absolute;
	bottom: 0;
	border-top: lightgray solid 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 20px;
	width: 100%;
	color: #404040;
	font-family: sans-serif;
}

.metroBlock{
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}
.metroBlock .title{
	margin: 10px;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
}
.metroBlock.small{
	width: 180px;
	height: 100px;
}
.metroBlock.big{
	width: 250px;
	height: 120px;
	opacity: .7;
	transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
}
.metroBlock.big:hover{
	opacity: 1;
}