body{
	background: #9bcd9b;
	margin:0px;
}
#topBar{
	background: #202020;
	color: white;
	padding: 5px;
	border-bottom: #101010 solid 2px;
}
#topBarLeft{
	float: left;
}
#topBarRight{
	float: right;
}
#topBar  a{
	color: lightgray;
	text-decoration: none;
}
#topBar  a:hover{
	text-decoration: underline;
}
#logoArea{
	background: #606060;
}
#logoArea > img{
	margin: 20px;
	border-radius: 10px;
}
#logoArea > form{
	float: right;
	margin-top: 30px;
	margin-right: 70px;
}
#logoArea > form > input{
	border: gray solid 4px;
	background: #404040;
	color: white;
	font-size: medium;
	border-radius: 3px;
}

#navBar{
	background: #76ee00;
	padding-left: 50px;
	border-bottom: forestgreen solid 1px;
}
#navBar > a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}
#navBar a:hover{
	background: #7fff00;
}
#navBar a.selected{
	background: #66cd00;
}
#pageBody{
	background: white;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 97%;
}
#mainWrapper{
	float: left;
	width: 70%;
}
#main{
	padding: 20px;
	overflow: hidden;
}
#pageTitle{
	padding: 5px;
	border-bottom: lightgray solid 2px;
	font-family: sans-serif;
}
#sidePanelWrapper{
	background: whitesmoke;
	float: right;
	width: 30%;
}
#sidePanel{
	padding: 20px;
	overflow: hidden;
}
#sideNav{
	list-style: none;
	padding: 10px;
}
#sideNav > li{
	border-bottom: lightgray solid 1px;
	padding: 10px;
}
#sideNav > li:hover{
	background: lightgray;
}
#sideNav > li > a{
	text-decoration: none;
	color: #101010;
	font-size: medium;
	font-weight: bold;
}
.clear{
	visibility: hidden;
	clear: both;
}
#pageFooter{
	margin: auto;
	color: #404040;
	font-family: sans-serif;
	width: 97%;
}

/*
#warningBars{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.warningBar{
	background: pink;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	border: solid 2px red;
	border-radius: 5px;
}
*/